/sesiones/ConceptosBasicos/nbproject/private/
/sesiones/ConceptosBasicos/build/
/sesiones/ConceptosBasicoos/nbproject/private/
/sesiones/ConceptosBasicos.java/nbproject/private/
/sesiones/ReutilizacionDeCodigo/nbproject/private/
/sesiones/ReutilizacionDeCodigo/build/
/tareas/Libro/nbproject/private/
/tareas/Libro/build/
/sesiones/TareaCompo/nbproject/private/
/sesiones/JavaBasico/nbproject/private/
/sesiones/JavaBasicTarea/nbproject/private/
/sesiones/JavaApplication12/nbproject/private/
/sesiones/JavaBasicTarea/build/
/sesiones/JavaBasicTarea/dist/
